@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-image-crop/dist/ReactCrop.css";

@keyframes disintegrate {
  0% {
    clip-path: inset(0% 0% 0% 0%);
    opacity: 1;
  }
  100% {
    clip-path: inset(0% 100% 0% 0%);
    opacity: 0;
  }
}

.animate-disintegrate {
  animation: disintegrate 1.5s forwards ease-in-out;
}
@keyframes gradientShift {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.animate-gradient {
  animation: gradientShift 14s ease-in-out infinite;
}

@keyframes borderShimmer {
  0% { transform: translateX(-50%) }
  100% { transform: translateX(150%) }
}
.animate-border-shimmer {
  position: relative;
}
